@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

.contact {
    display: inline-block;
    position: relative;
    width: 250px;
    
    background-color:#37156d;
}
.profilepic {
    width: 100%;
    margin-top:  1px;
    margin-bottom: 20px;
    border-radius: 65px;
       }

.navegacao li{
    margin-top: 15px;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
li:hover {
    
    font-size: 25px;
    
}


.titles {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    line-height: 39px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}
@keyframes teste {
    0%   {background-color: #37156d;}
    25%  {background-color: #523580;}
    50%  {background-color: #786991;}
    100% {background-color: #aea9b6;}
}
.titles:hover {
    animation-name: teste;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
hr {
    border: 1px solid #6CD0DB;
    display: block;
    margin-top: 150px;
    border-style: inset;
    border-width: 1px;
    
}
.bottom {
    display: block;
    position: relative;
    bottom: 0;
    background:url(./img/bg.jpg);
    background-attachment: scroll;
    margin-bottom: none;
}
.titles2 {
    
    position: relative;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom:10px;
    line-height: 39px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
}
.subInf {
    line-height: 39.0px;
    margin-left: 40px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #6CD0DB;
    font-family: 'Crimson Text Regular';
    font-size: 16px;
    font-style: normal;
}
.data {
    line-height: 21.72px;
    margin-left: 40px;
    margin-right: 68px;
    color: #ffffff;
    font-family: 'Crimson Text Regular';
    font-size: 16px;
    font-style: normal;

}
.principal {
    display: inline-block;
    position: absolute;
    width: auto;
    height: 100%;
    
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left,#e0cd97, #f0bc2f);
    z-index: -1;

}
nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
    
}
#logo {
    grid-column: 2/3;
    font-size: 24px;
}
.logos {
    width: 24px;
    justify-self: end;
    }
section {
        display: flex;
        height: 80vh;
        justify-content: center;
        align-items: center;
    }
.paisagem {
    height: 60%;
    width: 80%;
    align-items: center;
    }
.paisa {
   
    object-fit: cover;
    
}
.nome {
    position: absolute;
    text-transform: uppercase;
    color: #ffffff;
    font-family: montserrat;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    top: 70%;
    left: 10%;
    transform: translate(-20%, -70%);
}

    form {
        margin: 40px;
        align-items: center;
    }
    #contact-form {
        display: block;
    }
    form label, p {
        display: block;
        font-size: 22px;
        margin-bottom: 10px;
    }
    form div p {
        font-style: italic;
        font-weight: bold;
    }
    form input, textarea {
        
    }
    .input-text {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        width: 90%;
    }
    .check {
        margin: 0, 10px;
    }
