@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}
/* =================================================================*/
                        /* Sidebar Styles */
/* =================================================================*/

.sidebar {
    display: inline-block;
    position: relative;
    max-width: 250px;
    background-color:#37156d;
    height: 100%;
}
.menu {
    position: relative;
    margin: 10px;
    
}
.menu line {
        stroke: #FFFFFF;
}
/* ==========================*/
/*   Sidebar fechada styles  */
/* ==========================*/
.sidebar-collapsed {
    position: inherit;
    width: 50px;
    opacity: 1;
    background-color:#37156d;
    height: 100%;
}
.botao-Celular{
    position: relative;
    width: 90%;
    z-index: 2;
}
.botao-Email{
    position: relative;
    width: 90%;
    z-index: 2;
}
.botao-Endereco{
    position: relative;
    width: 90%;
    z-index: 2;
}

/* ==========================*/
/*   Sidebar open styles     */
/* ==========================*/

.sidebar-open {
    width: 250px;
    background-color:#37156d;
    opacity: 0;
    pointer-events: none;
    transform: translate(0,-150px)
    }
.profilepic {
    width: 90%;
    margin-top:  1px;
    margin-bottom: 20px;
    margin-left: 5%;
    border-radius: 65px;
}

.navegacao li{
    margin-top: 15px;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
li:hover {
    
    font-size: 25px;
    
}


.titles {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    line-height: 39px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}
@keyframes teste {
    0%   {background-color: #37156d;}
    25%  {background-color: #523580;}
    50%  {background-color: #786991;}
    100% {background-color: #aea9b6;}
}
.titles:hover {
    animation-name: teste;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
hr {
    border: 1px solid #6CD0DB;
    display: block;
    margin-top: 150px;
    border-style: inset;
    border-width: 1px;
    
}
.bottom {
    justify-self: end;
    display: block;
    position: relative;
    width: 100%;
    top: 22vh;
    background:url(./img/bg.jpg);
    background-attachment: scroll;
    margin-bottom: none;
}
.titles2 {
    
    position: relative;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom:10px;
    line-height: 39px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
}
.subInf {
    line-height: 39.0px;
    margin-left: 40px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #6CD0DB;
    font-family: 'Crimson Text Regular';
    font-size: 16px;
    font-style: normal;
}
.data {
    line-height: 21.72px;
    margin-left: 40px;
    margin-right: 68px;
    color: #ffffff;
    font-family: 'Crimson Text Regular';
    font-size: 16px;
    font-style: normal;

}
/* ==========================
     Sidebar responsivo    
============================

@media (max-width: 768px){
    .sidebar-open {
        transform: scale(0.7)
    }    
} */

/* =================================================================*/
                        /* main content */
/* =================================================================*/
.principal {
    display: inline-block;
    position: absolute;
    width: auto;
    height: 100%;
    
}


.nome {
    position: absolute;
    text-transform: uppercase;
    color: #ffffff;
    font-family: montserrat;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    top: 70%;
    left: 10%;
    transform: translate(-20%, -70%);
}

/* ==========================*/
/*        Fale Comigo        */
/* ==========================*/

#contact-form {
        display: block;
        margin: 40px;
        align-items: center;
}
form label, p {
        display: block;
        font-size: 22px;
        margin-bottom: 10px;
}
form div p {
        font-style: italic;
        font-weight: bold;
    }
        
}
.input-text {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        width: 90%;
}
.check {
        margin: 0, 10px;
}
.horacontato {
    margin-top: 10px;
    margin-bottom: 20px;
}
/* ==========================*/
/* Fale Comigo - Responsivo  */
/* ==========================*/
@media (max-width: 768px) {
    form label, p {
        font-size: 16px;
    }
    #message {
        width: 300px;
        height: 200px;
    }
}
